.zyunx-body {
    line-height: 1.8;
    text-align: center;
}
.zyunx-container {
    width: 600px;
    margin: 1em auto;
}
.zyunx-p {
    text-align: left;
}

.zyunx-body h3 {
    text-align: left;
}

.zyunx-list {
    text-align: left;
}


.ysl-body {
    line-height: 1.8;
    text-align: center;
}
.ysl-container {
    width: 600px;
    margin: 1em auto;
}
.ysl-p {
    text-align: left;
}

.ysl-body h3 {
    text-align: left;
}

.ysl-list {
    text-align: left;
}

.ysl-center {
    text-align: center;
}

.ysl-article-timeline h1 {
    text-align: center;
    font-size: x-large;
}

.ysl-article-timeline div {
    margin-bottom: 1em;
    text-align: center;
}