.zyunx-body {
    text-align: center;
}
.zyunx-container {
    width: 600px;
    margin: 1em auto;
}
.zyunx-p {
    line-height: 1.8;
    text-align: left;
}

.zyunx-body h3 {
    text-align: left;
}

.zyunx-list {
    text-align: left;
}